@import "tailwindcss";

@theme {
  --font-rubik: "Rubik";
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    transition: background-color 9999s ease-in-out 0s !important;
  }
}
